:root {
  /* Hier kommen die Farben und andere Variablen die man mehrmals braucht rein */

  --primary-900: #001745;
  --primary-955: #002879;

  --primary-980: #001426;
  --primary-800: #003c70;

  --background: #001745;
  --primary-250: #c5cedb;
  --font-color: #eee8eb;
  --highlight1: #00eaf3;
  --highlight2: #ffcf1b;
  --heart-red: #ff0050;
  --grey-heart: #c6afb7;
}

// Blaue Hände #001745
// Nägel #003C70

// Himmel boot dunkler  #009BFF
// Himmel flugzeug dunkler #00EAF3

// Weiße Wolken hell #EEE8EB
// Weiße Wolken dunkel #C5CEDB

// rotes Boot #FF0050#
// braun violetter MAst #501E51

// gelbes Flugzeug #FFCF1B
