




@font-face {
  font-family: gill;
  src: url(../fonts/GillSansStd/GillSansStd.otf);
}

@font-face {
  font-family: gill_lightshadowed;
  src: url(../fonts/GillSansStd/GillSansStd-LightShadowed.otf);
}

@font-face {
  font-family: gill_lightitalic;
  src: url(../fonts/GillSansStd/GillSansStd-LightItalic.otf);
}

@font-face {
  font-family: gill_bold;
  src: url(../fonts/gillSans_bold.TTF);
}

@font-face {
  font-family: gill_italic;
  src: url(../fonts/gillSans_italic.TTF);
}

@font-face {
  font-family: joanna;
  src: url(../fonts/JoannaMTStd/JoannaMTStd.otf);
}

@font-face {
  font-family: joanna_semibold;
  src: url(../fonts/JoannaMTStd/JoannaMTStd-SemiBold.otf);
}

@font-face {
  font-family: joanna_extrabold;
  src: url(../fonts/JoannaMTStd/JoannaMTStd-ExtraBold.otf);
}

