body {
  // background: url(../img/hands-0.png) repeat center;
  background-position: top;
  // background-color: var(--highlight2);
  background-color: var(--background);
  // background-color: var(--primary-250);
  background-size: cover;
}

body {
  //  overflow: hidden;
  // height: 100vh;
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
}
