{% extends 'layout.html' %} {%block content %}

<div class="da_grid_container">
  <h1>Datenschutzerklärung</h1>

  <p>Stand: 7. Juni 2023</p>
  <h2>Inhaltsübersicht</h2>
  <ul class="index">
    <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
    <li>
      <a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a>
    </li>
    <li><a class="index-link" href="#m13">Maßgebliche Rechtsgrundlagen</a></li>
    <li><a class="index-link" href="#m12">Löschung von Daten</a></li>
    <li><a class="index-link" href="#m237">Gewinnspiele und Wettbewerbe</a></li>
    <li><a class="index-link" href="#m408">Umfragen und Befragungen</a></li>
    <li>
      <a class="index-link" href="#m136"
        >Präsenzen in sozialen Netzwerken (Social Media)</a
      >
    </li>
    <li>
      <a class="index-link" href="#m10">Rechte der betroffenen Personen</a>
    </li>
  </ul>
  <h2 id="m3">Verantwortlicher</h2>
  <p>
    filmkorte e.V.<br />HS Flensburg<br />Kanzleistraße 91-93<br />24943
    Flensburg
  </p>
  Vertretungsberechtigte Personen:
  <p>Maja Petersen, Geschäftsführung</p>
  E-Mail-Adresse:
  <p><a href="mailto:maja@filmkorte.de">maja@filmkorte.de</a></p>
  Impressum:
  <p><a href="https://filmkorte.de" target="_blank">https://filmkorte.de</a></p>
  <hr />
  <h2 class="da_h2" id="mOverview">Übersicht der Verarbeitungen</h2>
  <p>
    Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die
    Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen
    Personen.
  </p>
  <h3>Arten der verarbeiteten Daten</h3>
  <ul>
    <li>Bestandsdaten.</li>
    <li>Kontaktdaten.</li>
    <li>Inhaltsdaten.</li>
    <li>Nutzungsdaten.</li>
    <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
  </ul>
  <h3>Kategorien betroffener Personen</h3>
  <ul>
    <li>Kommunikationspartner.</li>
    <li>Nutzer.</li>
    <li>Gewinnspiel- und Wettbewerbsteilnehmer.</li>
    <li>Teilnehmer.</li>
  </ul>
  <h3>Zwecke der Verarbeitung</h3>
  <ul>
    <li>Kontaktanfragen und Kommunikation.</li>
    <li>Durchführung von Gewinnspielen und Wettbewerben.</li>
    <li>Feedback.</li>
    <li>Marketing.</li>
  </ul>
  <h3 id="m13">Maßgebliche Rechtsgrundlagen</h3>
  <p>
    Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf
    deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur
    Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben
    in Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im
    Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen
    diese in der Datenschutzerklärung mit.
  </p>
  <article>
    <p>
      <strong
        >Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit.
        b) DSGVO)</strong
      >
      - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen
      Vertragspartei die betroffene Person ist, oder zur Durchführung
      vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen
      Person erfolgen.
    </p>
    <p>
      <strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong>
      - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des
      Verantwortlichen oder eines Dritten erforderlich, sofern nicht die
      Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person,
      die den Schutz personenbezogener Daten erfordern, überwiegen.
    </p>
  </article>
  <p>
    Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale
    Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das
    Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der
    Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
    insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf
    Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien
    personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur
    Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall
    einschließlich Profiling. Ferner können Landesdatenschutzgesetze der
    einzelnen Bundesländer zur Anwendung gelangen.
  </p>
  <h2 id="m12">Löschung von Daten</h2>
  <p>
    Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen
    Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen
    widerrufen werden oder sonstige Erlaubnisse entfallen (z.B. wenn der Zweck
    der Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht
    erforderlich sind). Sofern die Daten nicht gelöscht werden, weil sie für
    andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren
    Verarbeitung auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt
    und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus
    handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren
    Speicherung zur Geltendmachung, Ausübung oder Verteidigung von
    Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
    juristischen Person erforderlich ist.
  </p>
  <p>
    Unsere Datenschutzhinweise können ferner weitere Angaben zu der Aufbewahrung
    und Löschung von Daten beinhalten, die für die jeweiligen Verarbeitungen
    vorrangig gelten.
  </p>
  <h2 id="m237">Gewinnspiele und Wettbewerbe</h2>
  <p>
    Wir verarbeiten personenbezogene Daten der Teilnehmer von Gewinnspielen und
    Wettbewerben nur unter Einhaltung der einschlägigen Datenschutzbestimmungen,
    soweit die Verarbeitung zur Bereitstellung, Durchführung und Abwicklung des
    Gewinnspiels vertraglich erforderlich ist, die Teilnehmer in die
    Verarbeitung eingewilligt haben oder die Verarbeitung unseren berechtigten
    Interessen dient (z.B. an der Sicherheit des Gewinnspiels oder dem Schutz
    unserer Interessen vor Missbrauch durch mögliche Erfassung von IP-Adressen
    bei Einreichung von Gewinnspielbeiträgen).
  </p>
  <p>
    Falls im Rahmen der Gewinnspiele Beiträge der Teilnehmer veröffentlicht
    werden (z.B. im Rahmen einer Abstimmung oder Präsentation der
    Gewinnspielbeiträge bzw. der Gewinner oder der Berichterstattung zum
    Gewinnspiel), weisen wir darauf hin, dass die Namen der Teilnehmer in diesem
    Zusammenhang ebenfalls veröffentlicht werden können. Die Teilnehmer können
    dem jederzeit widersprechen.
  </p>
  <p>
    Findet das Gewinnspiel innerhalb einer Online-Plattform oder eines sozialen
    Netzwerks (z.B. Facebook oder Instagram, nachfolgend bezeichnet als
    "Online-Plattform“) statt, gelten zusätzlich die Nutzungs- und
    Datenschutzbestimmungen der jeweiligen Plattformen. In diesen Fällen weisen
    wir darauf hin, dass wir für die im Rahmen des Gewinnspiels mitgeteilten
    Angaben der Teilnehmer verantwortlich sind und Anfragen im Hinblick auf das
    Gewinnspiel an uns zu richten sind.
  </p>
  <p>
    Die Daten der Teilnehmer werden gelöscht, sobald das Gewinnspiel oder der
    Wettbewerb beendet sind und die Daten nicht mehr erforderlich sind, um die
    Gewinner zu informieren oder weil mit Rückfragen zum Gewinnspiel zu rechnen
    ist. Grundsätzlich werden die Daten der Teilnehmer spätestens 6 Monate nach
    Ende des Gewinnspiels gelöscht. Daten der Gewinner können länger einbehalten
    werden, um z.B. Rückfragen zu den Gewinnen beantworten oder die
    Gewinnleistungen erfüllen zu können; in diesem Fall richtet sich die
    Aufbewahrungsdauer nach der Art des Gewinns und beträgt z.B. bei Sachen oder
    Leistungen bis zu drei Jahre, um z.B. Gewährleistungsfälle bearbeiten zu
    können. Ferner können die Daten der Teilnehmer länger gespeichert werden,
    z.B. in Form der Berichterstattung zum Gewinnspiel in Online- und
    Offline-Medien.
  </p>
  <p>
    Sofern Daten im Rahmen des Gewinnspiels auch zu anderen Zwecken erhoben
    wurden, richten sich deren Verarbeitung und die Aufbewahrungsdauer nach den
    Datenschutzhinweisen zu dieser Nutzung (z.B. im Fall einer Anmeldung zum
    Newsletter im Rahmen eines Gewinnspiels).
  </p>
  <article class="m-elements">
    <p>
      <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
      Adressen); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Meta-,
      Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
      Identifikationsnummern, Einwilligungsstatus).
    </p>
    <p>
      <strong>Betroffene Personen:</strong> Gewinnspiel- und
      Wettbewerbsteilnehmer.
    </p>
    <p>
      <strong>Zwecke der Verarbeitung:</strong> Durchführung von Gewinnspielen
      und Wettbewerben.
    </p>
    <p>
      <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
      Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
    </p>
  </article>
  <h2 id="m408">Umfragen und Befragungen</h2>
  <p>
    Wir führen Umfragen und Befragungen durch, um Informationen für den jeweils
    kommunizierten Umfrage- bzw. Befragungszweck, zu sammeln. Die von uns
    durchgeführten Umfragen und Befragungen (nachfolgend "Befragungen") werden
    anonym ausgewertet. Eine Verarbeitung personenbezogener Daten erfolgt nur
    insoweit, als dies zu Bereitstellung und technischen Durchführung der
    Umfragen erforderlich ist (z.B. Verarbeitung der IP-Adresse, um die Umfrage
    im Browser des Nutzers darzustellen oder mithilfe eines Cookies eine
    Wiederaufnahme der Umfrage zu ermöglichen).
  </p>
  <article class="m-elements">
    <p>
      <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail,
      Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen);
      Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
      Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B.
      IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
    </p>
    <p>
      <strong>Betroffene Personen:</strong> Kommunikationspartner; Teilnehmer.
    </p>
    <p>
      <strong>Zwecke der Verarbeitung:</strong> Feedback (z.B. Sammeln von
      Feedback via Online-Formular).
    </p>
    <p>
      <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
      S. 1 lit. f) DSGVO).
    </p>
  </article>
  <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
  <p>
    Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten
    in diesem Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu
    kommunizieren oder um Informationen über uns anzubieten.
  </p>
  <p>
    Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der
    Europäischen Union verarbeitet werden können. Hierdurch können sich für die
    Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer
    erschwert werden könnte.
  </p>
  <p>
    Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall
    für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des
    Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer
    Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum
    verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der
    Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen.
    Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer
    gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer
    gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten
    unabhängig der von den Nutzern verwendeten Geräte gespeichert werden
    (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind
    und bei diesen eingeloggt sind).
  </p>
  <p>
    Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
    Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die
    Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.
  </p>
  <p>
    Auch im Fall von Auskunftsanfragen und der Geltendmachung von
    Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den
    Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils
    Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen
    ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann
    können Sie sich an uns wenden.
  </p>
  <article class="m-elements">
    <p>
      <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail,
      Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen);
      Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
      Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B.
      IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
    </p>
    <p>
      <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher,
      Nutzer von Onlinediensten).
    </p>
    <p>
      <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und
      Kommunikation; Feedback (z.B. Sammeln von Feedback via Online-Formular);
      Marketing.
    </p>
    <p>
      <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
      S. 1 lit. f) DSGVO).
    </p>
  </article>
  <p>
    <strong
      >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und
      Diensten:</strong
    >
  </p>
  <article class="m-elements">
    <p>
      <strong>Instagram: </strong>Soziales Netzwerk;
      <strong>Dienstanbieter:</strong> Meta Platforms Irland Limited, 4 Grand
      Canal Square, Grand Canal Harbour, Dublin 2, Irland; <br />
      <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
      S. 1 lit. f) DSGVO); <br /><strong>Website:</strong>
      <a href="https://www.instagram.com" target="_blank"
        >https://www.instagram.com</a
      >;<br />
      <strong>Datenschutzerklärung:</strong> <br />
      <a href="https://instagram.com/about/legal/privacy" target="_blank"
        >https://instagram.com/about/legal/privacy</a
      >.
    </p>
    <p>
      <strong>Facebook-Seiten: </strong>Profile innerhalb des sozialen Netzwerks
      Facebook - Wir sind gemeinsam mit Meta Platforms Ireland Limited für die
      Erhebung (jedoch nicht die weitere Verarbeitung) von Daten der Besucher
      unserer Facebook-Seite (sog. "Fanpage") verantwortlich. Zu diesen Daten
      gehören Informationen zu den Arten von Inhalten, die Nutzer sich ansehen
      oder mit denen sie interagieren, oder die von ihnen vorgenommenen
      Handlungen (siehe unter „Von dir und anderen getätigte und bereitgestellte
      Dinge“ in der Facebook-Datenrichtlinie:
      <a href="https://www.facebook.com/policy" target="_blank"
        >https://www.facebook.com/policy</a
      >), sowie Informationen über die von den Nutzern genutzten Geräte (z. B.
      IP-Adressen, Betriebssystem, Browsertyp, Spracheinstellungen,
      Cookie-Daten; siehe unter „Geräteinformationen“ in der
      Facebook-Datenrichtlinie:
      <a href="https://www.facebook.com/policy" target="_blank"
        >https://www.facebook.com/policy</a
      >). Wie in der Facebook-Datenrichtlinie unter „Wie verwenden wir diese
      Informationen?“ erläutert, erhebt und verwendet Facebook Informationen
      auch, um Analysedienste, so genannte "Seiten-Insights", für
      Seitenbetreiber bereitzustellen, damit diese Erkenntnisse darüber
      erhalten, wie Personen mit ihren Seiten und mit den mit ihnen verbundenen
      Inhalten interagieren. Wir haben mit Facebook eine spezielle Vereinbarung
      abgeschlossen ("Informationen zu Seiten-Insights",
      <a
        href="https://www.facebook.com/legal/terms/page_controller_addendum"
        target="_blank"
        >https://www.facebook.com/legal/terms/page_controller_addendum</a
      >), in der insbesondere geregelt wird, welche Sicherheitsmaßnahmen
      Facebook beachten muss und in der Facebook sich bereit erklärt hat die
      Betroffenenrechte zu erfüllen (d. h. Nutzer können z. B. Auskünfte oder
      Löschungsanfragen direkt an Facebook richten). Die Rechte der Nutzer
      (insbesondere auf Auskunft, Löschung, Widerspruch und Beschwerde bei
      zuständiger Aufsichtsbehörde), werden durch die Vereinbarungen mit
      Facebook nicht eingeschränkt. Weitere Hinweise finden sich in den
      "Informationen zu Seiten-Insights" (<a
        href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
        target="_blank"
        >https://www.facebook.com/legal/terms/information_about_page_insights_data</a
      >); <strong>Dienstanbieter:</strong> Meta Platforms Ireland Limited, 4
      Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland; <br />
      <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
      S. 1 lit. f) DSGVO); <br /><strong>Website:</strong>
      <a href="https://www.facebook.com" target="_blank"
        >https://www.facebook.com</a
      >; <strong>Datenschutzerklärung:</strong>
      <a href="https://www.facebook.com/about/privacy" target="_blank"
        >https://www.facebook.com/about/privacy</a
      >;
      <strong
        >Standardvertragsklauseln (Gewährleistung Datenschutzniveau bei
        Verarbeitung in Drittländern):</strong
      >
      <a
        href="https://www.facebook.com/legal/EU_data_transfer_addendum"
        target="_blank"
        >https://www.facebook.com/legal/EU_data_transfer_addendum</a
      >;<br />
      <strong>Weitere Informationen:</strong> Vereinbarung gemeinsamer
      Verantwortlichkeit:
      <a
        href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
        target="_blank"
        >https://www.facebook.com/legal/terms/information_about_page_insights_data</a
      >. Die gemeinsame Verantwortlichkeit beschränkt sich auf die Erhebung
      durch und Übermittlung von Daten an Meta Platforms Ireland Limited, ein
      Unternehmen mit Sitz in der EU. Die weitere Verarbeitung der Daten liegt
      in der alleinigen Verantwortung von Meta Platforms Ireland Limited, was
      insbesondere die Übermittlung der Daten an die Muttergesellschaft Meta
      Platforms, Inc. in den USA betrifft (auf der Grundlage der zwischen Meta
      Platforms Ireland Limited und Meta Platforms, Inc. geschlossenen
      Standardvertragsklauseln).
    </p>
  </article>
  <h2 id="m10">Rechte der betroffenen Personen</h2>
  <p>
    Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich
    insbesondere aus Art. 15 bis 21 DSGVO ergeben:
  </p>
  <article>
    <p>
      <strong
        >Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer
        besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie
        betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1
        lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für
        ein auf diese Bestimmungen gestütztes Profiling. Werden die Sie
        betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu
        betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die
        Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke
        derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit
        es mit solcher Direktwerbung in Verbindung steht.</strong
      >
    </p>
    <p>
      <strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht,
      erteilte Einwilligungen jederzeit zu widerrufen.
    </p>
    <p>
      <strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung
      darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf
      Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
      Daten entsprechend den gesetzlichen Vorgaben.
    </p>
    <p>
      <strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den
      gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie
      betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen
      Daten zu verlangen.
    </p>
    <p>
      <strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong>
      Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen,
      dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ
      nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung
      der Daten zu verlangen.
    </p>
    <p>
      <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie
      betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe der
      gesetzlichen Vorgaben in einem strukturierten, gängigen und
      maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen
      anderen Verantwortlichen zu fordern.
    </p>
    <p>
      <strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet
      eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
      Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde,
      insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts,
      ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie
      der Ansicht sind, dass die Verarbeitung der Sie betreffenden
      personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.
    </p>
  </article>
  <p class="seal">
    <a
      href="https://datenschutz-generator.de/"
      title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
      Schwenke</a
    >
  </p>
</div>
{%endblock%}
