{% extends 'layout.html' %} {%block content %}
<div class="main-container">
  <h1>Impressum</h1>

  <h2>Registergericht</h2>

  <p>Amtsgericht Flensburg</p>

  <h2>Registernummer</h2>

  <p>2VR 1775</p>

  <h2>Haftungshinweis</h2>

  <p>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für
    die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
    ausschließlich deren Betreiber verantwortlich.
  </p>

  <h2>Konzeption, Gestaltung und Realisierung</h2>

  <p>Shirley Lein</p>

  <h2>Die Umsetzung mit</h2>
  <p>Deno, MySql, HTML/SASS/JS</p>


  <h2>Rechtliche Hinweise</h2>
  <h3>Haftung für Inhalte/Links</h3>
  <p>
    Die Inhalte dieser Seiten wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen wir
    jedoch keine Gewähr. Unser Angebot enthält Links zu externen Webseiten
    Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb übernehmen wir
    für diese fremden Inhalte auch keine Gewähr. Urheberrecht Die durch die
    Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen
    dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung
    und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen
    der schriftlichen Zustimmung des Erstellers. Downloads und Kopien dieser
    Seiten sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
  </p>
</div>

{%endblock%}
