{% extends 'layout.html' %} {%block content %}
<div class="main-container marginTop padding-inline">
  <div class="padding-inline routes-container">
    <h2>Evaluation</h2>
    <a href="/evaqZaa3/wb1">Evaluation</a>
  </div>
  <hr />
  <div class="padding-inline routes-container">
    <h2>Mobile Routes</h2>
    <a href="/wb/Ac46aVyq695oaj/mobil">Wettbewerbs Block 1</a>
    <a href="/wb/3MXD535h2L5vNN/mobil">Wettbewerbs Block 2</a>
    <a href="/wb/3co45eraRnTQY5/mobil">Wettbewerbs Block 3</a>
    <a href="/wb/A2BZhgSJ7yjFCi/mobil">Wettbewerbs Block 4</a>
    <a href="/wb/uZeXvxubpnR229/mobil">Wettbewerbs Block 5</a>
    <a href="/wb/kyshStTLV7kr8b/mobil">Wettbewerbs Block 6</a>
    <a href="/wb/C7EqSjCSb2gwXN/mobil">Tricky</a>
    <a href="/wb/a65eEokTt9KbKK/mobil">Danske Program</a>
    <a href="/wb/5NtJabTzGV9itrtLsv/mobil">Wettbewersblock Plattspots</a>
  </div>
  <hr />
  <div class="padding-inline routes-container">
    <h2>Station Routes</h2>
    <a href="/wb/Ac46aVyq695oaj/station">Wettbewerbs Block 1</a>
    <a href="/wb/3MXD535h2L5vNN/station">Wettbewerbs Block 2</a>
    <a href="/wb/3co45eraRnTQY5/station">Wettbewerbs Block 3</a>
    <a href="/wb/A2BZhgSJ7yjFCi/station">Wettbewerbs Block 4</a>
    <a href="/wb/uZeXvxubpnR229/station">Wettbewerbs Block 5</a>
    <a href="/wb/kyshStTLV7kr8b/station">Wettbewerbs Block 6</a>
    <a href="/wb/C7EqSjCSb2gwXN/station">Tricky</a>
    <a href="/wb/a65eEokTt9KbKK/station">Danske Program</a>
    <a href="/wb/5NtJabTzGV9itrtLsv/station">Wettbewersblock Plattspots</a>
  </div>
</div>
{%endblock%}
